# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
.vscode

/demo/Debug
/demo/.vs
/demo/x64
/demo/demo/Debug
/demo/demo/x64
demo/demo/Debug
demo/demo/Release
demo/demo/x64
demo/Debug
demo/Release
demo/x64

demo2/Debug
demo2/Release
demo2/x64

demo3/Debug
demo3/Release
demo3/x64



demo2/demo2/Debug
demo2/demo2/Release
demo2/demo2/x64

demo3/demo3/Debug
demo3/demo3/Release
demo3/demo3/x64

demo4/demo4/Debug
demo4/demo4/Release
demo4/demo4/x64

demo5/demo5/Debug
demo5/demo5/Release
demo5/demo5/x64

demo6/demo6/Debug
demo6/demo6/Release
demo6/demo6/x64

demo7/demo7/Debug
demo7/demo7/Release
demo7/demo7/x64

demo8/demo8/Debug
demo8/demo8/Release
demo8/demo8/x64

demo9/demo9/Debug
demo9/demo9/Release
demo9/demo9/x64