# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
.vscode

/demo/Debug
/demo/.vs
/demo/x64
/demo/demo/Debug
/demo/demo/x64
demo/demo/Debug
demo/demo/Release
demo/demo/x64
demo/Debug
demo/Release
demo/x64

demo2/Debug
demo2/Release
demo2/x64

demo3/Debug
demo3/Release
demo3/x64
